<form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-form-field" appearance="fill">
        <!-- <mat-label>Clearable input</mat-label> -->
        <input matInput type="text" formControlName="title" placeholder="Course title">
        <!-- <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''"> -->
          <!-- <mat-icon>close</mat-icon> -->
        <!-- </button> -->
        
      </mat-form-field>
    <!-- <input placeholder="Course title" formControlName="title"> -->
  
    <!-- <input type="checkbox" placeholder="Free course" formControlName="free"> -->
    <mat-checkbox   class="example-margin example-full-width" formControlName="free" ></mat-checkbox>
    <mat-form-field  class="example-full-width" appearance="fill">
     <textarea style="resize: none;" matInput placeholder="Description" formControlName="longDescription">

        </textarea>

       
    </mat-form-field>

   
      <app-choose-quantity [increment]="10" formControlName="totalQuantity"></app-choose-quantity>
    
      <button mat-button type="submit">Basic</button>
      
  </form>

